---
layout: default
title: Home
---

<div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
        <h1 class="post-title">
            <a href="{{site.baseurl}}{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}, {{post.author}}</span>
        <span><b>{{post.type}}</b>&nbsp&nbsp
      <!--{% assign tags = post.tags | split:"," %}-->
      <!--{% for tag in tags %}-->
      <!--#{{tag}}-->
      <!--{% endfor %}-->
    </span><br/>
        <a class="preview" href="{{post.link}}"></a><br/>
        {{ post.content }}
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/microlinkjs@latest/umd/microlink.min.js"></script>
<style>
    body {
        padding: 25px;
    }

    #show_lnk img {
        width: 30px;
        height: 30px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        microlink('.preview');
    });
</script>