---
layout: default
title: Home
---

<div class="posts">
    {% for post in paginator.posts %}
    <div class="post">
        <h1 class="post-title">
            <a href="{{site.baseurl}}{{ post.url }}">
                {{ post.title }}
            </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}, {{post.author}}</span>
        <span><b>{{post.type}}</b>&nbsp&nbsp
            <!--{% assign tags = post.tags | split:"," %}-->
            <!--{% for tag in tags %}-->
            <!--#{{tag}}-->
            <!--{% endfor %}-->
    </span>
        <div class="iframely-embed" style="padding-top: 10px">
            <div class="iframely-responsive">
                <a data-iframely-url href="{{post.link}}"></a>
            </div>
        </div>
        <div style="padding-top: 10px">{{ post.content }}</div>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %}
    {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
    <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
    {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script async charset="utf-8"
        src="//cdn.iframe.ly/embed.js?api_key=efc67b8a1482efebad6dd3&iframe=card-small&media=0"></script>

<script>
    document.addEventListener("DOMContentLoaded", function (event) {
        $.getJSON("https://api.forismatic.com/api/1.0/?method=getQuote&key=457653&format=jsonp&lang=en&jsonp=?", function (data) {
            quoteText = data.quoteText;

            if (data.quoteAuthor) {
                quoteAuthor = data.quoteAuthor;
            } else {
                quoteAuthor = "Anonymous"
            }

            $('#quote').animate({
                opacity: 0
            }, 500, function () {
                $('#quote').html(quoteText);
                $(this).animate({
                    opacity: 1
                }, 500);
            });

            $('.author').animate({
                opacity: 0
            }, 500, function () {
                $('.author').html(" - " + quoteAuthor);
                $(this).animate({
                    opacity: 1
                }, 500);
            });

            // $('.sidebar-about h1 a').animate({
            //     opacity: 0
            // }, 500, function () {
            //     $('.sidebar-about h1 a').html("{{ site.title }}");
            //     $(this).animate({
            //         opacity: 1
            //     }, 500);
            // });


        });
    });

</script>