---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}, {{page.author}}</span>
    {{ content }}
    <p>For more details, visit the <a href="{{page.link}}">source.</a></p>
    <div class="iframely-embed">
            <div class="iframely-responsive">
                <a data-iframely-url href="{{page.link}}"></a>
            </div>
        </div>
</div>


{% if site.disqus_shortname %}
{% include disqus.html %}
{% endif %}

<script async charset="utf-8" src="//cdn.iframe.ly/embed.js?api_key=efc67b8a1482efebad6dd3"></script>