---
layout: default
---

<div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}, {{page.author}}</span>
    {{ content }}
    <p>For more details, <a href="{{page.link}}">visit</a></p>
    <!--<div class="resp-container">-->
    <!--&lt;!&ndash;<iframe class="resp-iframe" src="{{page.link}}" gesture="media"  allow="encrypted-media" allowfullscreen></iframe>&ndash;&gt;-->
<!--</div>-->
</div>


{% if site.disqus_shortname %}
{% include disqus.html %}
{% endif %}


<style>
    .resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 27%;
}

    .resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


</style>